@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  padding: 40px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #006d77;
}

/* navbar */
.nav-link:hover {
  color: #006d77;
}

.nav-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

/* intro section */
.main {
  max-width: 1000px;
}

.main-header {
  padding-top: 160px;
  padding-left: 80px;
}

.main-heading {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 90px;
}

.main-heading-emphasis {
  font-weight: 400;
  color: #006d77;
}

.main-para {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 32px;
  padding-left: 80px;
}

.main-arrow {
  transform: matrix(-0.51, -0.86, -0.86, 0.51, 0, 0);
  opacity: 0.6;
  width: 400px;
  height: 300px;
  left: 160px;
}

.main-socials-cont {
  border-top: 4px solid #006d77;
  width: 900px;
  margin-right: -40px;
  padding: 40px;
}

/* Skills section  */
.skills-heading {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #edf6f9;
  font-size: 300px;
  margin-left: -60px;
}

.skills-cont {
  top: 0;
  right: 0;
}

.skills-text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 32px;
}

.skills-group-random {
  list-style: none;
  text-align: end;
}

.skills-group-dev {
  list-style: none;
  text-align: start;
}

.logo {
  width: 56px;
  height: 56px;
}

.logo:hover {
  opacity: 0.85;
}

.logo-skills {
  height: 40px;
}

/* Works section */
.work-heading {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #edf6f9;
  font-size: 300px;
  margin-right: -60px;
}

.codecast-arrow {
  height: 80px;
  top: 250px;
  left: 180px;
}

.tutorial-arrow {
  height: 130px;
  right: 20px;
  bottom: -10px;
  transform: rotate(-47.58deg);
}

.tutorial-btn-arrow {
  height: 130px;
  right: -170px;
  bottom: -150px;
  transform: matrix(-0.73, -0.68, -0.68, 0.73, 0, 0);
}

.trivia-text {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  width: 300px;
  left: 280px;
}

.btn {
  padding: 16px 24px;
  background-color: #83c5be;
  border-radius: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.trivia-btn {
  top: 180px;
  left: 60px;
}

.tutorial-btn {
  bottom: -180px;
  left: 170px;
}

.iframe-cont {
  position: relative;
  overflow: hidden;
  width: 70%;
  padding-top: 35%;
}

.responsive-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
