@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  padding: 40px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #006d77;
}

.nav-link:hover {
  color: #006d77;
}

.nav-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
}
